# Build file
/target

# All hidden files
.ruff_cache

# Test db
*.db
legatio.db-shm 
legatio.db-wal

# Db generation
migrations/

mocks/
misc/

legatio.md

# Performance metrics
perf.*

# Logger
*.log
